#header-row {
  background-image: url("imgs/banner.png");
  background-position: center;
  background-size: cover;
}
#help-text { 
  color: forestgreen;
}
#mail-icon, #phone-icon {
  text-decoration: none;
}
#python_code {
  width: 80%;
  height: 20rem;
  border: 1px solid forestgreen
}