html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  background-color: darkolivegreen;
  color: yellow;
}
/* TOTAL PAGE GRID */
.logo  { 
  grid-area: logo;
  background-color: white;
  background-image: url(img/bigfoot-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 100%;
  height: auto;
}
.head  { grid-area: head; }
.nav   { grid-area: nav; }
.main  { grid-area: main; }
.misc  { grid-area: misc; }
.foot  { grid-area: foot; }
.container {
  display: grid;
  position: center;
  margin-left: 10%;
  margin-right: 10%;
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  grid-template-areas: 
    'logo head head head'
    'nav main main misc'
    'foot foot foot foot';
}

/* HEADER SUBGRID */
.header-head { grid-area: h-head; }
.header-main { grid-area: h-main; }
.header-foot { grid-area: h-foot; }
.head {
  display: grid;
  grid-template-areas:
    'h-head h-head h-head h-head'
    'h-main h-main h-main h-main'
    'h-foot h-foot h-foot h-foot';
}

/* LOGO STYLES */
.logo {
  
}

/* HEADER STYLES */
.header-main {
  border: 1px solid white;
  height: 225px;
  background-image: url(img/header-img2.png);
  background-size: cover;
  background-position-y: 78%;
  color: orangered;
}
.header-head {
  background-color: white;
  font-size: 16pt;
  font-weight: 700;
}
.header-foot {
  background-color: white;
  font-weight: 600;
}

/* NAV STYLES */
.nav {
  border: 1px solid white;
  width: 100%;
}

/* MAIN STYLES */
.main {
  border: 1px solid white;
}

/* MISC STYLES */
.misc {
  border: 1px solid white;
}

/* FOOTER STYLES */
.foot {
  border: 1px solid white;
}


