/*
  Joshua Gregory
  Professor Montgomery
  Internet Programming
  Project CSS File
*/

/* LARGER SCREENS */
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 1rem;
}

body {
  background-color: lightgreen;
  color: black;
}

/* PAGE GRID STYLES */
.head {
  grid-area: head;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.foot {
  grid-area: foot;
}

.container {
  display: grid;
  position: center;
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  grid-template-areas:
    'head head head head head head'
    'nav main main main main main'
    'foot foot foot foot foot foot';
}

/* P, FIELDSET STYLES, LINK STYLES */
p {
  margin: 1em;
}

fieldset {
  width: 75%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: olivedrab;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* HEADER STYLES */
.head {
  border: 2px solid darkslategray;
  width: 100%;
  height: 25rem;
  background-image: url(img/banner-big.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* NAVBAR STYLES */
.sm-nav {
  /* hide smaller screen drop-down nav */
  display: none;
}

.nav {
  background-color: olivedrab;
  border: 2px solid darkslategray;
}

#nav-logo {
  content: url(img/circle-logo.png);
  width: 10rem;
  height: 10rem;
}

.nav-btn {
  width: 9rem;
  height: 7rem;
  background-color: lightgreen;
  background-image: url(img/circle-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 0px;
}

.nav-btn:hover {
  background-color: lightgreen;
  border: 0px;
}

#nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#nav-link:hover {
  color: lightgreen;
  text-decoration: none;
  font-size: 1.5em;
}

/* MAIN STYLES */
.main {
  border: 1px solid gray;
}

.page-title {
  color: olivedrab;
  margin-left: 1rem;
  font-size: 3rem;
}

.page-subtitle {
  color: olivedrab;
  margin-left: 2rem;
  font-size: 2rem;
}

/* FOOTER STYLES */
.foot {
  border: 1px solid gray;
  background-image: url(img/header-img2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: darkgreen;
  font-weight: 600;
}

.contact-btn {
  background-color: olivedrab;
  border: 1px solid gray;
  border-radius: 15%;
  width: auto;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: lightgreen;
}

/* index.html WEB FORM STYLES */
.form-li {
  list-style: none;
}

#zip-err,
#bday-err {
  color: red;
}

#p1-form-rules {
  margin-left: 2.5rem;
  font-size: .75rem;
}

/* page2.html iFRAME & LIST STYLES */
#python_code {
  width: 75%;
  height: 50%;
}

.sub-li {
  list-style: none;
}

.fi-link {
  color: olivedrab;
}

.file-link:hover {
  color: white;
}

/* page2.html SLIDESHOW STYLES */
.slideshow {
  width: 100%;
  height: 20rem;
  max-width: 1000px;
  position: relative;
  margin-right: 1rem;
}

/* current slide */
.slide-imgs {
  border: 2px solid white;
  width: 100%;
  height: 20rem;
  margin: 0;
}

#img1,
#img2,
#img3,
#img4 {
  display: none;
}

/* cells for slide nav btns */
.next-cell,
.prev-cell {
  width: 5rem;
}

/* slide nav btns */
.next-btn,
.prev-btn {
  background-color: lightgreen;
  color: olivedrab;
  font-size: 2rem;
  border-radius: 15%;
  cursor: pointer;
  border: 1px solid olivedrab;
}

.next-btn:hover,
.prev-btn:hover {
  color: white;
  border: 1px solid white;
  font-size: 2.2rem;
}

/* progress marker dots */
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* set starting color of dots */
#dot1 {
  background-color: olivedrab;
}

#dot2,
#dot3,
#dot4 {
  background-color: white;
}

/***************************************/

/* SMALLER SCREENS */
@media(max-width: 700px) {
  html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
  }

  body {
    background-color: lightgreen;
    color: black;
  }

  /* PAGE GRID STYLES */
  .head {
    grid-area: head;
  }

  .sm-nav {
    grid-area: navi;
  }

  .main {
    grid-area: main;
  }

  .foot {
    grid-area: foot;
  }

  .container {
    display: grid;
    position: center;
    grid-row-gap: .5em;
    grid-column-gap: .5em;
    grid-template-areas:
      'head head head head head head'
      'navi navi navi navi navi navi'
      'main main main main main main'
      'foot foot foot foot foot foot';
  }

  /* P, FIELDSET STYLES, LINK STYLES */
  p {
    margin: 1em;
  }

  fieldset {
    width: 75%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a {
    color: olivedrab;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  /* HEADER STYLES */
  .head {
    width: 100%;
    height: auto;
    content: url(img/banner-small.png);
  }

  /* SMALLER DROP-DOWN NAV STYLES */
  .nav {
    /* hide larger screen nav */
    display: none;
  }

  .sm-nav {
    /* display small screen nav */
    display: block;
  }

  .drop-nav {
    border: 2px solid darkslategray;
    background-color: #f9f9f9;
    font-size: 1.2rem;
  }

  .drop-link {
    font-size: 1.2rem;
  }

  .drop-link:hover {
    background-color: lightgreen;
  }

  #nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  #nav-link:hover {
    color: lightgreen;
    text-decoration: none;
    font-size: 1.5em;
  }

  /* MAIN STYLES */
  .main {
    border: 1px solid gray;
  }

  .page-title {
    color: olivedrab;
    margin-left: 1rem;
    font-size: 3rem;
  }

  .page-subtitle {
    color: olivedrab;
    margin-left: 2rem;
    font-size: 2rem;
  }

  /* FOOTER STYLES */
  .foot {
    border: 1px solid gray;
    background-image: url(img/header-img2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: darkgreen;
    font-weight: 600;
  }

  .contact-btn {
    background-color: olivedrab;
    font-size: 1.5rem;
    border: gray;
    border-radius: 15%;
    cursor: pointer;
  }

  .contact-link {
    color: white;
  }

  .contact-link:hover {
    color: lightgreen;
  }

  /* index.html WEB FORM STYLES */
  .form-li {
    list-style: none;
  }

  #zip-err,
  #bday-err {
    color: red;
  }

  #p1-form-rules {
    margin-left: 2.5rem;
    font-size: .75rem;
  }

  /* page2.html LIST STYLES */
  .sub-li {
    list-style: none;
  }

  .fi-link {
    color: olivedrab;
  }

  .file-link:hover {
    color: white;
  }

  /* page2.html SLIDESHOW STYLES */
  .slideshow {
    width: 100%;
    height: auto;
    max-width: 1000px;
    position: relative;
    margin-right: 1rem;
  }

  /* current slide */
  .slide-imgs {
    border: 2px solid white;
    width: 100%;
    height: 10rem;
    margin: 0;
  }

  /* hide slides */
  #img1,
  #img2,
  #img3,
  #img4 {
    display: none;
  }

  /* cells for slide nav btns */
  .next-cell,
  .prev-cell {
    width: 5rem;
  }

  /* slide nav btns */
  .next-btn,
  .prev-btn {
    background-color: lightgreen;
    color: olivedrab;
    font-size: 1rem;
    border-radius: 15%;
    cursor: pointer;
    border: 1px solid olivedrab;
  }

  .next-btn:hover,
  .prev-btn:hover {
    color: white;
    border: 1px solid white;
    font-size: 1.2rem;
  }

  /* progress marker dots */
  .dot {
    display: inline-block;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* set starting color of dots */
  #dot1 {
    background-color: olivedrab;
  }

  #dot2,
  #dot3,
  #dot4 {
    background-color: white;
  }

}