html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  background-color: darkolivegreen;
  color: yellow;
}
/* TOTAL PAGE GRID */
.head  { grid-area: head; }
.nav   { grid-area: nav; }
.main  { grid-area: main; }
.foot  { grid-area: foot; }
.container {
  display: grid;
  position: center;
  margin-left: 10%;
  margin-right: 10%;
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  grid-template-areas: 
    'head head head head'
    'nav nav nav nav'
    'main main main main'
    'foot foot foot foot';
}

/* GLOBAL BUTTON & LINK STYLES */
.nav-btn {
  width: 150px;
  height: 75px;
  background-image: url(img/bigfoot-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

a {
  color: orangered;
  text-decoration: none;
  font-size: 1.5em;
  background-color: white;
}
a:hover {
  color: orangered;
  text-decoration: none;
  font-size: 1.75em;
  background-color: white;
}

/* HEADER STYLES */
.head {
  border: 1px solid white;
  color: red;
  width: 100%;
  height: 225px;
  background-image: url(img/header-img2.png);
  background-size: cover;
  background-position-y: 78%;
}

/* NAV STYLES */


/* MAIN STYLES */
.main {
  border: 1px solid white;
}

/* MISC STYLES */
.misc {
  border: 1px solid white;
}

/* FOOTER STYLES */
.foot {
  border: 1px solid white;
}


